@font-face {
    font-family: 'Proxima-Nova';
    src: url('resources/fonts/proxima-nova.otf') format('opentype');
}

div {
  border: 10em;
  padding-bottom: 20px;
  padding-top: 20px;
}

.vertical-center {
  min-height: 30%;
  min-height: 30vh;

  display: flex;
  align-items: center;
}

.med-size-btn {
  width: 400px !important;
  margin: 10px;
}

.intro-box{
  margin: 0;
  background-image: url('resources/images/api_header.jpg');
  background-size: 1440px 800px;
  background-repeat: no-repeat;
  display: compact;
}
