.segment {
    height: 100vh;
    width: 100vw;
}

#hero {
    background-image: url('http://cdn.wallpapersafari.com/27/30/d1PYqC.jpg');
}

#content1 {
   background-image: url('http://cdn.wallpapersafari.com/27/30/d1PYqC.jpg');
}

#content2 {
    background-image: url('http://cdn.wallpapersafari.com/27/30/d1PYqC.jpg');
}

#content3 {
    background-image: url('http://cdn.wallpapersafari.com/27/30/d1PYqC.jpg');
}

#content4 {
    background-image: url('http://cdn.wallpapersafari.com/27/30/d1PYqC.jpg');
}