#hero {
    height: 100vh;
    width: 100%;
    background-color: #21a1ec;
}

section {
    width: 100%;
}

#hero-content {
    width: 100%;
}

#header-image {
    width: 400px;
    height: 400px;
}

.btn {
    margin: 10px;
    min-width: 300px;
    color: #21a1ec;
}

.pin-top {
    position: relative;
}

.pin-bottom {
    position: relative;
}

.pinned {
    position: fixed !important;
    width: 100%;
    z-index: 998;
}

.segment {
    min-height: 100vh;
}

#mobile-demo {
    z-index: 998;
}

.feature-content {
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #21a1ec;
}

#nav-holder {
    height: 100px;
}

.segment {
    padding: 5%;
}

.nav-wrapper > ul {
    color: #21a1ec;
}